<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86417508267-cohtmug5j1lle99jfpkeocvo264ijo2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86417508267-cohtmug5j1lle99jfpkeocvo264ijo2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86417508267-2pu28ir9aa3q35n496jq49jj11fpe24i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDocjDSmYevq5pVGi9z8FOiFjOCmL8k7_g</string>
	<key>GCM_SENDER_ID</key>
	<string>86417508267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.cayto.oshiruco.ios.stg</string>
	<key>PROJECT_ID</key>
	<string>ohiruco</string>
	<key>STORAGE_BUCKET</key>
	<string>ohiruco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86417508267:ios:d9d5cf38cdef4a23</string>
	<key>DATABASE_URL</key>
	<string>https://ohiruco.firebaseio.com</string>
</dict>
</plist>